<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script defer src="static/js/script.js"></script>
</head>
<body>
    <div class="wrapper">
        <h1>Головна сторінка</h1>
        <div class="link-box">
            <a href="/date">Дата</a>
        </div>
        <p>На цій сторінці є посилання на поточну дату</p>
    </div>

</body>
</html>