h1{
    text-align: center;
}
.posts{
    max-width: 600px;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: pink;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}
.button-box{
    display: flex;
    width: 100%;
    justify-content: center;
}

button{
    outline: none;
    border: 1px solid black;
    width: 300px;
    height: 60px;
    background-color: rgb(239, 239, 121);
    transition: 0.2s all;
    font-size: 18px;
}

button:hover{
    background-color: rgb(249, 249, 173);
}